<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="This page signs people up">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Sign Up</h1>
    <h4>Please fill out the form to create an account</h4>
    <hr>
    <div class="signup-wrapper">
        <form id="signup-form" method="POST" action="{{ url_for('signup') }}">
            <label for="name"><b>Name:</b></label>
            <input type="text" name="name" id="name" placeholder="Jane Doe" required>

            <label for="email"><b>Email:</b></label>
            <input type="email" name="email" id="email" placeholder="janedoe@gmail.com" required>

            <label for="phone-number"><b>Phone Number:</b></label>
            <input type="text" name="phone-number" id="phone-number" placeholder="123-456-7890" required>

            <label for="password"><b>Password:</b></label>
            <input type="password" name="password" id="password" placeholder="••••••••" required>
            <div id="strength-meter"></div>

            <label for="repeat-password"><b>Repeat Password:</b></label>
            <input type="password" name="repeat-password" id="repeat-password" placeholder="••••••••" required>

            <p id="message">Password must be at least 8 characters and match.</p>

            <button type="submit">Submit</button>
        </form>

        <div id="result"></div>
    </div>

    <!-- Password Hint Tooltip -->
    <div id="password-hint" class="hint-popup">
        Password must be at least 8 characters.
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="{{ url_for('static', filename='java/signupscript.js') }}"></script>
</body>
</html>